services:
  enshrouded:
    build: .
    container_name: enshrouded
    environment:
      - APP_ID=2278520
      - SERVER_NAME=JD-Enshrouded
      - SERVER_PASSWORD=yourpassword
      - FORCE_CONFIG_REWRITE=1   # set to 0 after first boot if you want
      - UPDATE_ON_START=1
      - RESET_WINEPREFIX=0
    volumes:
      - ./data:/home/steam/enshrouded
      - ./wine:/home/steam/.wine
    ports:
      - "15637:15637/udp"
      - "27015:27015/udp"
    restart: unless-stopped
